<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {%- if page.fileSlug %}
        <title>{{ page.fileSlug }} | robertyl</title>
    {% else %}
        <title>robertyl</title>
    {% endif %}
    <meta name="description" content="Personal website for Robert Lee, a Master's student at Purdue University.">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1.0.0/serve/inter.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@vladocar/basic.css@1.0.3/css/basic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css@1.5.0/css/normalize.min.css">
    <link rel="stylesheet" href="/css/sakura.css">
    <link rel="stylesheet" href="/css/style.css">
    {% block css %}{% endblock %}

    <script src="/js/theme.js"></script>
  </head>

  <body>
    <header>
      <nav style="display: flex; justify-content: space-between;">
        <div style="display: flex; justify-content: flex-begin;">
            <a href="{{ '/' | url }}"><b>robertyl</b></a>
        </div>
        <div style="display: flex; justify-content: flex-end;">
            <a href="{{ '/about' | url }}">about</a>
            &nbsp;&nbsp;
            <a href="{{ '/research' | url }}">research</a>
            &nbsp;&nbsp;
            <a href="{{ '/scioly' | url }}">scioly</a>
            &nbsp;&nbsp;
            <a href="{{ '/compro' | url }}">compro</a>
        </div>
      </nav>
    </header>
    <main>
      <div>
        {% block photo %}{% endblock %}
        <h1>{{ title }}</h1>
        {%- if subtitle %}
          <p><i>{{ subtitle }}</i></p>
        {% endif %}
      </div>
      {% block content %}{{ content | safe }}{% endblock %}
    </main>

    <footer style="display: flex; justify-content: space-between;">
      <div style="display: flex; justify-content: flex-begin; flex: 2;">
        &copy; 2026 robert lee
      </div>
      {%- if parent %}
      <div style="display: flex; justify-content: center; flex: 1;">
        <a id="test" href="/{{ parent }}">[back to {{ parent }}]</a>
      </div>
      {% endif %}
      <div style="display: flex; justify-content: flex-end; flex: 2;">
        <a id="toggle-dark">light/dark</a>
      </div>
    </footer>

    {% block js %}{% endblock %}
    <script src="/js/new-tab.js"></script>
  </body>
</html>