{% extends "base.njk" %}

{% block content %}
    {{ content | katex | safe }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/katex@0.18.2/dist/katex.min.css">
{% endblock %}