{% extends "base.njk" %}

{% block photo %}
  <div style="margin-left: 70%;">
    <img src="/assets/img/sierra-view-overlook.jpg" alt="Robert smiling at the Sierra View Overlook." style="float: right;">
  </div>
{% endblock %}