@import "solarized-dark";

nav a {
    text-decoration: none;

    &:hover {
        color: $color-fade;
        text-decoration: none;
        border-bottom: none;
    }
}

a {
    &:visited {
        color: $color-blossom;
    }
}